@import url("ddui_theme_system.css");
@import url("Box.css");
@import url("MessageBox.css");
@import url("Popup.css");
@import url("Dialogue.css");
@import url("Toaster.css");
@import url("Tiles.css");
@import url("List.css");

/* This css rule serves as the vital sign of der ddui css.
   If it is there, ddui css is alive. */
#ddui_alive {
    margin: 0; /* because vs code dislikes empty style rules */
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url('/misc/MaterialIcons-Regular.ttf');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

* {
    box-sizing: border-box;
}

/* scrollbars */
::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-track { background: rgba(0,0,0,0); }
::-webkit-scrollbar-thumb { background: var(--ddui_line_soft); border-radius: 3px; }
/* ::-webkit-scrollbar-thumb:hover { background: var(--ddui_line_soft); } */

html, body {
    display: block;
    margin: 0;
    height: 100%;
    width: 100%;    
    background-color: var(--ddui_page_background_idle);
    color: var(--ddui_page_text);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;    
}

h1 {
    color: var(--ddui_page_text);
    font-size: 24px;
    font-weight: 700;
    margin: 25px 0 15px 0;
}

h2 {
    color: var(--ddui_page_text);
    font-size: 20px;
    font-weight: 700;
}

h3 {
    color: var(--ddui_page_text);
    font-size: 16px;
    font-weight: 700;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.ddui_theme_icon {
    color: yellow;
}

.ddui_buttonbar {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    flex-wrap: wrap;
}

.ddui_button {
    min-width: 70px;
    background-color: var(--ddui_button_background);
    text-align: center;
    color: var(--ddui_button_text);
    margin: 5px;
    border-radius: 5px;
    box-shadow: var(--ddui_boxShadow_very_small);
}

.ddui_button:hover {
    background-color: var(--ddui_button_background_hover);
    cursor: pointer;
}

.ddui_button_red {
    background-color: var(--ddui_red_surface);
}

.ddui_button_red:hover {
    background-color: var(--ddui_red_surface_shiny);
}

.ddui_button_inferior {
    min-width: 70px;
    background-color: var(--ddui_page_background);
    text-align: center;
    color: var(--ddui_page_text);
    margin: 5px;
    border-radius: 5px;
    box-shadow: var(--ddui_boxShadow_very_small);  
}

.ddui_button_inferior:hover {
    background-color: var(--ddui_page_background_hover);
    cursor: pointer;
}

.ddui_button_label {
    margin: 7px 10px 7px 10px;
}

.ddui_Overlay {
    position: absolute;
    width: 100%;
    height: 100%;
}

.ddui_overlay_centered_box {
	display: flex;
	justify-content: center;
	align-items: center;
}

.ddui_LoadingBox_content {
    display: flex;
    flex-direction: column
}

.ddui_LoadingBox_info_text {
    padding: 5px 20px 20px 20px;
    text-align: center;
}

input,
select,
textarea {
    border: 1px solid var(--ddui_line);
    border-radius: 5px;
    padding: 3px 5px 3px 5px;
	color: var(--ddui_input_forecolor);
    background-color: var(--ddui_page_background);
	font-weight: 400;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
    border-bottom: 2px solid var(--ddui_input_forecolor);
}

input:disabled,
select:disabled,
textarea:disabled {
	background-color: var(--ddui_shady);
	color: var(--ddui_input_forecolor_idle);
}

input::selection,
select::selection,
textarea::selection {
    color: var(--ddui_input_selection_forecolor);
    background-color: var(--ddui_input_selection_background_color);
}