@import url("ddui_colors.css");

:root {

    --ddui_theme: dark;

    /* object colors */

    --ddui_page_text: var(--ddui_D_page_text);
    --ddui_page_text_emphasized: var(--ddui_D_page_text_emphasized);
    --ddui_page_background: var(--ddui_D_page_background);
    --ddui_page_background_hover: var(--ddui_D_page_background_hover);
    --ddui_page_background_idle: var(--ddui_D_page_background_idle);

    --ddui_dialogue_background: var(--ddui_D_dialogue_background);

    --ddui_line: var(--ddui_D_line);
    --ddui_line_soft: var(--ddui_D_line_soft);

    --ddui_button_text: var(--ddui_D_button_text);
    --ddui_button_background: var(--ddui_D_button_background);       
    --ddui_button_background_hover: var(--ddui_D_button_background_hover);

    --ddui_input_forecolor: var(--ddui_D_input_forecolor);
    --ddui_input_forecolor_idle: var(--ddui_D_input_forecolor_idle);
    --ddui_input_selection_forecolor: var(--ddui_D_input_selection_forecolor);
    --ddui_input_selection_background_color: var(--ddui_D_input_selection_background_color);        

    /* shadows */

    --ddui_shady: var(--ddui_D_shady);
    --ddui_shiny: var(--ddui_D_shiny);
    --ddui_background_shady: var(--ddui_D_background_shady);
    --ddui_background_shiny: var(--ddui_D_background_shiny);

    --ddui_boxShadow: var(--ddui_D_boxShadow); /* typical for dialogues */
    --ddui_boxShadow_very_small: var(--ddui_D_boxShadow_very_small); /* typical for buttons */

    /* accent colors */

    /* primary */
    --ddui_primary_text: var(--ddui_D_primary_text);
    --ddui_primary_surface: var(--ddui_D_primary_surface);
    --ddui_primary_surface_shiny: var(--ddui_D_primary_surface_shiny);
    --ddui_primary_surface_shady: var(--ddui_D_primary_surface_shady);
    --ddui_primary_background_emphasized: var(--ddui_D_primary_background_emphasized);
    --ddui_primary_background_emphasized_hover: var(--ddui_D_primary_background_emphasized_hover);

    /* red */
    --ddui_red_text: var(--ddui_D_red_text);
    --ddui_red_surface: var(--ddui_D_red_surface);
    --ddui_red_surface_shiny: var(--ddui_D_red_surface_shiny);
    --ddui_red_surface_shady: var(--ddui_D_red_surface_shady);

    /* yellow */
    --ddui_yellow_text: var(--ddui_D_yellow_text);
    --ddui_yellow_surface: var(--ddui_D_yellow_surface);
    --ddui_yellow_surface_shiny: var(--ddui_D_yellow_surface_shiny);
    --ddui_yellow_surface_shady: var(--ddui_D_yellow_surface_shady);

    /* green */
    --ddui_green_text: var(--ddui_D_green_text);
    --ddui_green_surface: var(--ddui_D_green_surface);
    --ddui_green_surface_shiny: var(--ddui_D_green_surface_shiny);
    --ddui_green_surface_shady: var(--ddui_D_green_surface_shady);

    /* blue */
    --ddui_blue_text: var(--ddui_D_blue_text);
    --ddui_blue_surface: var(--ddui_D_blue_surface);
    --ddui_blue_surface_shiny: var(--ddui_D_blue_surface_shiny);
    --ddui_blue_surface_shady: var(--ddui_D_blue_surface_shady);

    /* pink */
    --ddui_pink_text: var(--ddui_D_pink_text);
    --ddui_pink_surface: var(--ddui_D_pink_surface);
    --ddui_pink_surface_shiny: var(--ddui_D_pink_surface_shiny);
    --ddui_pink_surface_shady: var(--ddui_D_pink_surface_shady);

    /* gray */
    --ddui_gray_text: var(--ddui_D_gray_text);
    --ddui_gray_surface: var(--ddui_D_gray_surface);
    --ddui_gray_surface_shiny: var(--ddui_D_gray_surface_shiny);
    --ddui_gray_surface_shady: var(--ddui_D_gray_surface_shady);

}